<div class="contents">
  <%= form_for @todo, html: { class: 'js-form' } do |f|%>
    <%= f.text_field :content, class: 'js-form__text-field' %>
    <%= f.submit class: 'submit' %>
  <% end %>
  <ul class="todos">
    <%= render @todos %>
  </ul>
</div>
